.about_section_image{
    border-radius: 5rem;

    overflow: hidden;
    transition: var(--transition);
}
.about_section_image:hover{
    border-radius: 50%;
    filter: saturate(0.44);
}

.about_section_content h1{
    margin-bottom: 2rem;
}

.about_section_content p{
    margin-bottom: 2rem;
}

.about_story_container , .about_vision_container , .about_mission_container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    place-items: center;
}



/* media queries  (meduim screens*/
@media screen and (max-width:1024px) {
    .about_section_image{
        width: 60%;
    }
 

    .about_story_container , .about_vision_container , .about_mission_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        place-items: start;
    }
    .about_vision_container .about_section_image{
        grid-row: 1;
    }
}


/* media queris (small screens */

@media screen and(max-width:767px) {

    .about_section_image{
        width: 80%;
        margin-inline: auto;
    }
    .about_section_content h1{
      margin: 0 auto;
      width: fit-content;
      display: block;
    }
    
}