.footer{
    background: var(--color-primary);
    margin-top: 10rem;
    padding-top: 10rem;
    font-size: 1.5rem;
    color: var(--color-gray-100);
}
.logo{
    width: 15rem;
    display: block;
}
.footer_container
{
    display: grid;
    grid-template-columns: 40rem 1fr 1fr 1fr;
    gap: 6rem;
   padding-bottom: 4rem;
}

.footer_container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer_container article p{
    margin-top: 1rem;
}
.footer_container article h4{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.footer_socials{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

.footer_socials a{
    background: var(--color-gray-100);
    border: 1px solid transparent;
    border-radius: 1rem;
    /* color: var(--color-primary); */
    padding: 1rem 1.3rem;
    transition: var(--transition);
    display: flex;
    align-items: center;
}

.footer_socials a svg{
    color: var(--color-gray-600);
    font-size: 1.7rem;
}

.footer_socials a:hover{
    border-color: var(--color-gray-100);
    background: transparent;

}

.footer_copyRight{
    padding: 3rem 0;
    color: var(--color-gray-100);
    border-top: 1px solid var(--color-primary-variant);
    text-align: center;
}



/* media query ============== */
@media screen and (max-width:1024px) {
    .footer_container{
        grid-template-columns: 40rem 1fr;
    }
}

@media screen and (max-width:600px) {
    .footer_container{
        grid-template-columns: 1fr;
    }
}


